node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma

dist
/dist

/data
data

# New Relic logs (caso ainda existam)
newrelic_agent.log
newrelic.js
newrelic.cjs
# Terraform
infra/terraform/.terraform/
infra/terraform/*.tfstate
infra/terraform/*.tfstate.*
infra/terraform/*.tfvars
